@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/";
}
@section head {
    <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div id="HomeDiv" class="page-responsive-padding" v-cloak>
    <div id="WaitingForData" v-if="!allData" class="wait-div">
        <i class="mnesios-logo-big"></i>
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="DataLoaded" v-else>
        <div id="UserLoggedIn" v-if="allData.userName">
            <p>@Localizer["Welcome"] <a href="/Identity/Account/Manage">{{allData.userName}}</a></p>
            <div id="User has decks" v-if="allData.userDecks.length > 0">
                <div v-for="deck in allData.userDecks">
                    <p v-html="deck.headLine" />
                    <ul>
                        <li v-for="line in deck.lines"><span v-html="line" /></li>
                        <li v-if="isValidDateTime(deck.nextExpiryUTCDate)">@Localizer["NextExpiry"] {{dateTime(deck.nextExpiryUTCDate)}}</li>
                    </ul>
                </div>
            </div>
            <div id="No deck" v-else>
                <p>@Localizer["YouDontHaveADeckYet"]. @Localizer["YouCanCreateOneOn"] <a asp-page="/Decks/Create">@Localizer["TheDecksPage"]</a>.</p>
                <p>@Localizer["YouMayAlsoWantToRead"] <a href="/Doc">@Localizer["TheDoc"]</a>.</p>
            </div>
            <footer id="Data time" style="padding-top:50px">
                <p><small class="form-text text-muted">@Localizer["DataTime"]: {{dateTime(allData.dataUTCDate)}}.<br />
                    @Localizer["BeforeDocLink"]<a href="https://userdoc.mnesios.com/" target="_blank">@Localizer["TheDoc"]</a>@Localizer["AfterDocLink"]</small></p>
            </footer>
        </div>
        <div id="User not loggedin" v-else>
            <p>@Localizer["Welcome"] !</p>
            <p>@Localizer["YouNeedTo"] <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/">@Localizer["LogIn"]</a> @Localizer["ToUseMemCheck"] (<a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="/">@Localizer["Register"]</a> @Localizer["IfYouDontHaveAnAccount"]).</p>
            <p>@Localizer["WantADemo"]</p>
            <ul>
                <li v-for="tag in allData.recommendedTagsForDemo"><a v-bind:href="'/Learn/Index?LearnMode=Demo&TagId='+tag.tagId">{{tag.tagName}}</a></li>
            </ul>
            <p>@Localizer["BeforeDocLink"]<a href="https://userdoc.mnesios.com/" target="_blank">@Localizer["TheDoc"]</a>@Localizer["AfterDocLink"]</p>
            <p>@Localizer["BeforeAllCardsListLink"]<a href="/Search/AllCardsList">@Localizer["AllCardsListLink"]</a>@Localizer["AfterAllCardsListLink"]</p>
        </div>
    </div>
    <div id="DebugInfo" class="debug-info-div" v-if="showDebugInfo()">
        <p>window.innerWidth: {{window.innerWidth}}</p>
        <p>screen.width: {{screen.width}}</p>
    </div>
</div>

@section scripts
    {
    <script type="module" src="~/js/Home/Home.js" asp-append-version="true"></script>
}
