@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>
<div>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>@Localizer["UserName"]</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@Localizer["Password"]</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Input.RememberMe" />
                    @Localizer["RememberMe"]
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Localizer["LogIn"]</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
            </p>
            <p>
                <a id="resend-email-confirm" asp-page="./ResendEmailConfirm">@Localizer["ResendEMailConfirmation"]</a>
            </p>
            <p>
                <a asp-page="./Register">@Localizer["RegisterAsNewUser"]</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
