@page
@using Microsoft.AspNetCore.Mvc.Localization
@model LoginModel
@inject IViewLocalizer Localizer
@section head {
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["HelpPage"] = "/account";
}

<div class="login-maindiv">
    <form id="account" method="post">
        <h1>@Localizer["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group memcheck-input-div">
            <label>@Localizer["UserName"]</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group memcheck-input-div">
            <label>@Localizer["Password"]</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group memcheck-input-div">
            <div class="checkbox">
                <label>
                    <input asp-for="Input.RememberMe" />
                    @Localizer["RememberMe"]
                </label>
            </div>
        </div>
        <div class="form-group memcheck-bottom-button-div">
            <button type="submit" class="btn btn-primary">@Localizer["LogIn"]</button>
        </div>
        <div class="form-group login-links-div">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
                <br/>
                <a id="resend-email-confirm" asp-page="./ResendEmailConfirm">@Localizer["ResendEMailConfirmation"]</a>
                <br/>
                <a asp-page="./Register">@Localizer["RegisterAsNewUser"]</a>
            </p>
        </div>
    </form>
</div>
