@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model RegisterConfirmationModel
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/account";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>@Localizer["Paragraph1BeforeUserAddress"] <i>@Model.UserAddress</i> @Localizer["Paragraph1AfterUserAddress"]</p>
    <p>@Localizer["Paragraph2BeforeSenderAddress"] <i>@Model.SendGridEmailSender</i> @Localizer["Paragraph2AfterSenderAddress"]</p>
    <p>@Localizer["Paragraph3"] <a href="https://www.mnesios.com/">Mnesios</a>.</p>
    <p>@Localizer["CheckTheDoc"] <a href="https://userdoc.mnesios.com/account.html">https://userdoc.mnesios.com/account.html</a>.</p>
    <p>@Localizer["Final"]</p>
}
