@page
@model ResetPasswordConfirmationModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/account";
}

<h1>@Localizer["Title"]</h1>
<p>
    @Localizer["TextBeforeLink"] <a asp-page="./Login">@Localizer["LinkText"]</a> @Localizer["TextAfterLink"].
</p>
