@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AuthoringHistoryModel
@section scripts {
<script type="module" src="~/js/Authoring/History.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<input type="text" asp-for="CardId" id="CardIdInput" hidden="hidden" />

<div id="HistoryMainDiv" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Waiting for mount" v-if="mountFinished && loading">
        <p class="wait-message">@Localizer["LoadingHistory"]</p>
    </div>
    <div id="Failure" v-if="error">
        <p class="wait-message">@Localizer["CardNotFound"]</p>
    </div>
    <div id="AfterMount" class="fullscreen-image-div" v-if="mountFinished && !error && !loading">
        <div id="Title">
            <h1 class="title">@Localizer["VersionHistory"]</h1>
        </div>
        <ul class="card-history-ul">
            <li v-for="(version, index) in versions" class="card-history-li">
                <span v-if="index==0"><a v-bind:href="'/Authoring/Index?CardId='+cardId"><strong>{{dateTime(version.versionUtcDate)}} @Localizer["by"] {{version.versionCreator}}, "{{version.versionDescription}}"</strong></a><br /></span>
                <span v-if="index!=0"><strong>{{dateTime(version.versionUtcDate)}} @Localizer["by"] {{version.versionCreator}}, "{{version.versionDescription}}"</strong><br /></span>
                @Localizer["ModifiedFields"] {{version.changedFieldList}}
                <span v-if="version.versionId">
                    <br />
                    <a v-bind:href="'/Authoring/Compare?CardId='+cardId+'&VersionId='+version.versionId">@Localizer["CompareWithCurrentVersion"]</a>
                </span>
            </li>
        </ul>
    </div>
</div>
