@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IViewLocalizer Localizer
@section head {
    <link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/rating.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/imagechoice.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/tagbutton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/markdownedit.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/markdownrendering.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="~/lib/vant/vant.js" asp-append-version="true"></script>
    <script src="~/js/MarkdownEditor.js" asp-append-version="true"></script>
    <script src="~/js/CardRating.js" asp-append-version="true"></script><script src="~/js/big-size-image.js" asp-append-version="true"></script>
    <script src="~/js/ImageChoice.js" asp-append-version="true"></script>
    <script src="~/js/TagButton.js" asp-append-version="true"></script>
    <script type="module" src="~/js/Authoring/Authoring.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<input type="text" asp-for="CardId" id="CardIdInput" hidden="hidden" />
<input type="text" asp-for="ReturnUrl" id="ReturnUrlInput" hidden="hidden" />

<div id="AuthoringMainDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Saving" v-if="saving">
        <p class="wait-message">@Localizer["PleaseWaitForSave"]</p>
    </div>
    <div id="After mount" v-if="mountFinished && !saving">
        <div id="FullImage" v-if="currentFullScreenImage">
            <big-size-image v-bind:image="currentFullScreenImage" v-bind:labels="bigSizeImageLabels" v-on:remove="removeFullScreenImageFromCard()" v-on:close="closeFullScreenImage()" />
        </div>
        <div id="CardEditMode" v-else>
            <div id="TitleAndTopButtons">
                <h1 class="title">
                    <span id="Title" v-if="creatingNewCard">@Localizer["Create"]</span><span v-else>@Localizer["Edit"]</span>
                    &nbsp;
                    <span id="Info button" v-if="!creatingNewCard">
                        <van-popover v-model:show="showInfoPopover" overlay close-on-click-outside close-on-click-overlay>
                            <span>@Localizer["CreationDate"] {{editingCardCreationDate}}</span><br />
                            <span>@Localizer["LastChangeDate"] {{editingCardLastChangeDate}}</span><br />
                            <span>{{infoAboutUsage}}</span><br />
                            <template #reference>
                                <van-button class="toolbar-button-circle toolbar-button"><i class="fas fa-info"></i></van-button>
                            </template>
                        </van-popover>
                    </span>
                    <span id="Additional details toggle button">
                        <button class="toolbar-button-circle toolbar-button" @@click="toggleShowAdditionalInfo()"><i class="fas fa-plus"></i></button>
                    </span>
                    <span id="Visibility button">
                        <span id="VisibilityToggleButton_0" v-if="card.usersWithView.length == 0">
                            <button class="toolbar-button-circle toolbar-button" data-bs-toggle="collapse" href=".TogglableVisibility"><i class="far fa-eye"></i></button>
                        </span>
                        <span id="VisibilityToggleButton_1" v-if="card.usersWithView.length == 1">
                            <button class="toolbar-button-circle toolbar-button" data-bs-toggle="collapse" href=".TogglableVisibility"><i class="far fa-eye-slash"></i></button>
                        </span>
                        <span id="VisibilityToggleButton_2" v-if="card.usersWithView.length > 1">
                            <button class="toolbar-button-circle toolbar-button" data-bs-toggle="collapse" href=".TogglableVisibility"><i class="fas fa-users"></i></button>
                        </span>
                    </span>
                    <span id="HistoryButton" v-if="!creatingNewCard">
                        <button class="toolbar-button-circle toolbar-button" @@click="cardHistory()"><i class="fas fa-history"></i></button>
                    </span>
                    <span id="Rating" v-if="!creatingNewCard">
                        <card-rating v-model="card.currentUserRating" v-bind:average="card.averageRating" v-bind:countinaverage="card.countOfUserRatings" v-on:update:model-value="onRatingChange"
                                     yourratingstr='@Localizer["YourRating"]' averagestr='@Localizer["Average"]' usersstr='@Localizer["Users"]' userstr='@Localizer["User"]' />
                    </span>
                </h1>
            </div>
            <div id="The card" class="authoring-card-div">
                <table class="table-responsive authoring-table">
                    <tbody class="authoring-table-body">
                        <tr id="FrontSideRow" class="authoring-row-input">
                            <td class="authoring-td">
                                <div id="FrontSideRowMarkdownEditor">
                                    <markdown-editor v-model="card.frontSide" v-bind:isinfrench="isInFrench()" title="@Localizer["FrontSide"]" />
                                </div>
                                <div id="FrontSideRowImageDiv">
                                    <image-choice v-on:add="addFrontImage" imagenamesmallscreenstr='@Localizer["ImageName_SmallScreen"]' imagenamemediumscreenstr='@Localizer["ImageName_MediumScreen"]' imagenamebigscreenstr='@Localizer["ImageName_BigScreen"]'></image-choice>
                                    <div id="FrontImagesDisplay" class="authoring-image-show" v-for="image in frontSideImageList">
                                        <a href="#" @@click="showImageFull(image)"><img class="preview-image" :src="image.blob" /></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row"></tr>
                        <tr id="BackSideRow" class="authoring-row-input">
                            <td class="authoring-td">
                                <div id="BackSideRowMarkdownEditor">
                                    <markdown-editor v-model="card.backSide" v-bind:isinfrench="isInFrench()" title="@Localizer["BackSide"]" />
                                </div>
                                <div id="BackSideRowImageDiv">
                                    <image-choice v-on:add="addBackImage" imagenamesmallscreenstr='@Localizer["ImageName_SmallScreen"]' imagenamemediumscreenstr='@Localizer["ImageName_MediumScreen"]' imagenamebigscreenstr='@Localizer["ImageName_BigScreen"]'></image-choice>
                                    <div id="BackImagesDisplay" class="authoring-image-show" v-for="image in backSideImageList">
                                        <a href="#" @@click="showImageFull(image)"><img class="preview-image" :src="image.blob" /></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row"></tr>
                        <tr id="AdditionalInfoRow" class="authoring-row-input" v-if="showAdditionalInfo">
                            <td class="authoring-td">
                                <div id="AdditionalSideRowMarkdownEditor">
                                    <markdown-editor v-model="card.additionalInfo" v-bind:isinfrench="isInFrench()" title="@Localizer["AdditionalInfo"]" />
                                </div>
                                <div id="AdditionalSideRowImageDiv">
                                    <image-choice v-on:add="addAdditionalImage" imagenamesmallscreenstr='@Localizer["ImageName_SmallScreen"]' imagenamemediumscreenstr='@Localizer["ImageName_MediumScreen"]' imagenamebigscreenstr='@Localizer["ImageName_BigScreen"]'></image-choice>
                                    <div id="AdditionalInfoImagesDisplay" class="authoring-image-show" v-for="image in additionalInfoImageList">
                                        <a href="#" @@click="showImageFull(image)"><img class="preview-image" :src="image.blob" /></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row" v-if="showAdditionalInfo"></tr>
                        <tr id="LanguageInputRow" class="collapse authoring-row-input TogglableAdditionalInfo">
                            <td class="authoring-td">
                                <p class="authoring-row-caption">@Localizer["Language"]</p>
                                <select v-model="card.languageId" class="authoring-select">
                                    <option v-for="language in allAvailableLanguages" v-bind:value="language.id">{{language.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row TogglableAdditionalInfo"></tr>
                        <tr id="TagsInputRow" class="authoring-row-input">
                            <td class="authoring-td">
                                <p class="authoring-row-caption">@Localizer["Tags"]</p>
                                <div style="flex-flow:row wrap; width:100%">
                                    <select v-model="selectedTagToAdd" class="authoring-select">
                                        <option v-for="tag in allAvailableTags" v-bind:value="tag">{{tag.tagName}}</option>
                                    </select>
                                    <tag-button v-for="(tag,index) in card.tags" v-bind:name="tag.tagName" v-bind:id="tag.tagId" v-on:click="removeTag"></tag-button>
                                </div>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row"></tr>
                        <tr id="VisibilityInputRow" class="collapse authoring-row-input TogglableVisibility show">
                            <td class="authoring-td">
                                <p class="authoring-row-caption">@Localizer["Users"]</p>
                                <div style="flex-flow:row wrap; width:100%">
                                    <select v-model="selectedUserToAdd" class="authoring-select"><option v-for="user in allAvailableUsers" v-bind:value="user">{{user.userName}}</option></select>
                                    <div id="Public" v-if="card.usersWithView.length == 0">
                                        <tag-button additionalbuttonclass="warning" name='@Localizer["Public"]' id="notused" v-on:click="makePrivate"></tag-button>
                                    </div>
                                    <div id="Private" v-if="card.usersWithView.length == 1">
                                        <tag-button v-bind:name="card.usersWithView[0].userName" v-bind:id="card.usersWithView[0].userId" v-on:click="removeUser"></tag-button>
                                    </div>
                                    <div id="Restricted" v-if="card.usersWithView.length > 1">
                                        <span v-for="user in card.usersWithView">
                                            <tag-button v-if="user.userId == currentUser.userId" v-bind:name="user.userName"></tag-button>
                                            <tag-button v-if="user.userId !== currentUser.userId" v-bind:name="user.userName" v-bind:id="user.userId" v-on:click="removeUser"></tag-button>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row TogglableVisibility show"></tr>
                        <tr id="VersionDescriptionInputRow" class="authoring-row-input" v-if="!creatingNewCard">
                            <td class="authoring-td">
                                <p class="authoring-row-caption">@Localizer["VersionDescription"]</p>
                                <input class="authoring-textarea responsive-padding-edit" v-model="card.versionDescription" rows="1" />
                            </td>
                        </tr>
                        <tr class="card-authoring-blank-row" v-if="!creatingNewCard"></tr>
                        <tr id="AddToDeckInputRow" v-if="creatingNewCard" class="authoring-row-input">
                            <td class="authoring-td">
                                <p class="authoring-row-caption">@Localizer["AddToDeck"]</p>
                                <div style="flex-flow:row wrap; width:100%">
                                    <select v-model="addToDeck" class="authoring-select"><option v-for="deck in decksOfUser" v-bind:value="deck">{{deck.deckName}}</option></select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button id="Send card button" class="btn-success btn-lg authoring-send-button" @@click="sendCard">
                <span v-if="creatingNewCard">@Localizer["Add"]</span>
                <span v-else>@Localizer["Update"]</span>
            </button>
        </div>
    </div>
    <div id="DebugInfo" class="debug-info-div" v-if="showDebugInfo()">
        <ul>
            <li>card.usersWithView.length: {{card.usersWithView.length}}</li>
        </ul>
    </div>
</div>
