@page
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web
@model IndexModel
@inject IViewLocalizer Localizer
@section head {
    <link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/rating.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/tagbutton.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/markdownedit.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/markdownrendering.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/imageincard.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/authoring.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@section scripts {
    <script type="module" src="~/js/MarkdownEditor.js" asp-append-version="true"></script>
    <script type="module" src="~/js/CardRating.js" asp-append-version="true"></script>
    <script type="module" src="~/js/big-size-image.js" asp-append-version="true"></script>
    <script type="module" src="~/js/TagButton.js" asp-append-version="true"></script>
    <script>
        var localized = {};
        @foreach (var localizerEntry in Localizer.GetAllStrings())
        {
            @:localized.@localizerEntry.Name = "@Html.Raw(@HttpUtility.JavaScriptStringEncode(@localizerEntry.Value))";
        }
    </script>
    <script type="module" src="~/js/Authoring/Authoring.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/authoring";
}

<input type="text" asp-for="CardId" id="CardIdInput" hidden="hidden" />
<input type="text" asp-for="ReturnAddress" id="ReturnAddressInput" hidden="hidden" />

<div id="AuthoringMainDiv" class="page-responsive-padding" v-cloak>
    <div id="WaitingForData" v-if="!mountFinished" class="wait-div">
        <i class="mnesios-logo-big"></i>
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Saving" v-if="saving">
        <p class="wait-message">@Localizer["PleaseWaitForSave"]</p>
    </div>
    <div id="After mount" v-if="mountFinished && !saving">
        <div id="InitializationFailure" v-if="initializationFailure()">
            <p><strong>@Localizer["NetworkError"] - @Localizer["PleaseReload"].</strong></p>
        </div>
        <div id="FullImage" v-if="!initializationFailure() && currentFullScreenImage">
            <big-size-image v-bind:image="currentFullScreenImage" v-bind:labellocalizer="bigSizeImageLabelsLocalizer()" v-on:close="closeFullScreenImage()" />
        </div>
        <div id="CardEditMode" v-if="!initializationFailure() && !currentFullScreenImage && !changesInReview">
            <div id="TitleAndTopButtons" class="mnesios-page-title">
                <span id="Title" v-if="creatingNewCard"><i class="fas fa-plus"></i>&nbsp;@Localizer["Create"]</span><span v-else><i class="fa-solid fa-file-pen"></i>&nbsp;@Localizer["Edit"]</span>
                &nbsp;
                <span v-if="addToDeckMenuVisible()">
                    <button id="DeckActionDropdown" class="toolbar-button-circle toolbar-button" data-bs-toggle="dropdown" data-placement="top" title=@Localizer["Deck"]><i class="fas fa-inbox"></i></button>
                    <span class="dropdown-menu" role="menu">
                        <span id="AddToDeck">
                            <span id="SingleDeckAddToDeck" v-if="possibleTargetDecksForAdd.length == 1">
                                <a class="dropdown-item" @@click="addCardToDeck(possibleTargetDecksForAdd[0])"><i class="fas fa-plus"></i> @Localizer["AddToYourDeck"]</a>
                            </span>
                            <span id="MultiDeckAddToDeck" v-else>
                                <span v-for="targetDeck in possibleTargetDecksForAdd">
                                    <a class="dropdown-item" @@click="addCardToDeck(targetDeck)"><i class="fas fa-plus"></i> @Localizer["AddTo"] {{targetDeck.deckName}}</a>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
                <span id="Info button" v-if="!creatingNewCard">
                    <van-popover v-model:show="showInfoPopover" overlay close-on-click-outside close-on-click-overlay>
                        <span>@Localizer["CreationDate"] {{editingCardCreationDate}}</span><br />
                        <span>@Localizer["LastChangeDate"] {{editingCardLastChangeDate}}</span><br />
                        <span>{{infoAboutUsage}}</span><br />
                        <template #reference>
                            <van-button class="toolbar-button-circle toolbar-button"><i class="fas fa-info"></i></van-button>
                        </template>
                    </van-popover>
                </span>
                <span id="HistoryButton" v-if="!creatingNewCard">
                    <button class="toolbar-button-circle toolbar-button" @@click="cardHistory()"><i class="fas fa-history"></i></button>
                </span>
                <span id="Rating" v-if="!creatingNewCard">
                    <card-rating v-model="card.currentUserRating" v-bind:average="card.averageRating" v-bind:countinaverage="card.countOfUserRatings" v-on:update:model-value="onRatingChange"
                                 yourratingstr='@Localizer["YourRating"]' averagestr='@Localizer["Average"]' usersstr='@Localizer["Users"]' userstr='@Localizer["User"]' noevaluationstr='@Localizer["NoEvaluation"]' />
                </span>
            </div>
            <div id="The card" class="authoring-card-div">
                <div id="FrontSideRow" class="memcheck-input-div">
                    <markdown-editor v-model="card.frontSide" v-bind:isinfrench="isInFrench()" title="@Localizer["FrontSide"]" v-bind:onimageclickfunctiontext='onImageClickFunctionText()' v-bind:images="images" />
                </div>
                <div id="BackSideRow" class="memcheck-input-div">
                    <markdown-editor v-model="card.backSide" v-bind:isinfrench="isInFrench()" title="@Localizer["BackSide"]" v-bind:onimageclickfunctiontext='onImageClickFunctionText()' v-bind:images="images" />
                </div>
                <div id="AdditionalInfoRow" class="memcheck-input-div">
                    <markdown-editor v-model="card.additionalInfo" v-bind:isinfrench="isInFrench()" title="@Localizer["AdditionalInfo"]" v-bind:onimageclickfunctiontext='onImageClickFunctionText()' v-bind:images="images" />
                </div>
                <div id="ReferencesRow" class="memcheck-input-div">
                    <markdown-editor v-model="card.references" v-bind:isinfrench="isInFrench()" title="@Localizer["References"]" v-bind:onimageclickfunctiontext='onImageClickFunctionText()' v-bind:images="images" />
                </div>
                <div id="LanguageInputRow" class="memcheck-input-div">
                    <p class="authoring-row-caption">@Localizer["Language"]</p>
                    <select v-model="card.languageId" class="authoring-select">
                        <option v-for="language in allAvailableLanguages" v-bind:value="language.id">{{language.name}}</option>
                    </select>
                </div>
                <div id="TagsInputRow" class="memcheck-input-div">
                    <p class="authoring-row-caption">@Localizer["Tags"]</p>
                    <div style="flex-flow:row wrap; width:100%">
                        <select v-model="selectedTagToAdd" class="authoring-select">
                            <option v-for="tag in allAvailableTags" v-bind:value="tag">{{tag.tagName}}</option>
                        </select>
                        <tag-button v-for="(tag,index) in card.tags" v-bind:name="tag.tagName" v-bind:id="tag.tagId" v-on:click="removeTag"></tag-button>
                    </div>
                </div>
                <div id="VisibilityInputRow" class="memcheck-input-div">
                    <p class="authoring-row-caption">@Localizer["Users"]</p>
                    <div style="flex-flow:row wrap; width:100%">
                        <select v-model="selectedUserToAdd" class="authoring-select"><option v-for="user in allAvailableUsers" v-bind:value="user">{{user.userName}}</option></select>
                        <div id="Public" v-if="card.usersWithView.length == 0">
                            <tag-button additionalbuttonclass="warning" name='@Localizer["Public"]' id="notused" v-on:click="makePrivate"></tag-button>
                        </div>
                        <div id="Private" v-if="card.usersWithView.length == 1">
                            <tag-button v-bind:name="card.usersWithView[0].userName" v-bind:id="card.usersWithView[0].userId" v-on:click="removeUser"></tag-button>
                        </div>
                        <div id="Restricted" v-if="card.usersWithView.length > 1">
                            <span v-for="user in card.usersWithView">
                                <tag-button v-if="user.userId == currentUser.userId" v-bind:name="user.userName"></tag-button>
                                <tag-button v-if="user.userId !== currentUser.userId" v-bind:name="user.userName" v-bind:id="user.userId" v-on:click="removeUser"></tag-button>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="AddToDeckInputRow" v-if="creatingNewCard" class="memcheck-input-div">
                    <div v-if="singleDeckDisplay">
                        <input type="checkbox" v-model="addToSingleDeck" /> @Localizer["AddToYourDeck"]
                    </div>
                    <div v-else>
                        <p class="authoring-row-caption">@Localizer["AddToDeck"]</p>
                        <div style="flex-flow:row wrap; width:100%">
                            <select v-model="addToDeck" class="authoring-select"><option v-for="deck in decksOfUser" v-bind:value="deck">{{deck.deckName}}</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AddCardButtonDiv">
                <button id="AddCardButtonEnabled" class="btn-success btn-lg authoring-send-button" @@click="sendCard" v-if="isDirty()">
                    <span v-if="creatingNewCard">@Localizer["Add"]</span>
                    <span v-else>@Localizer["ReviewChanges"]</span>
                </button>
                <button id="AddCardButtonDisabled" class="btn-success.disabled btn-lg authoring-send-button" disabled v-else>
                    <span v-if="creatingNewCard">@Localizer["Add"]</span>
                    <span v-else>@Localizer["ReviewChanges"]</span>
                </button>
            </div>
        </div>
        <div id="ChangesReviewMode" v-if="changesInReview && !currentFullScreenImage">
            <div id="ReviewMode_Title">
                <h1 class="title"><i class="fa-solid fa-file-pen"></i>&nbsp;@Localizer["ReviewYourChanges"]</h1>
            </div>
            <div id="ReviewMode_FrontSideRow" class="memcheck-input-div-container" v-if="frontSideIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["FrontSide"]</p>
                </div>
                <div id="ReviewMode_FrontSideRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedOriginalFrontSide()"></span>
                    </div>
                </div>
                <div id="ReviewMode_FrontSideRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedNewFrontSide()"></span>
                    </div>
                </div>
            </div>
            <div id="ReviewMode_BackSideRow" class="memcheck-input-div-container" v-if="backSideIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["BackSide"]</p>
                </div>
                <div id="ReviewMode_BackSideRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedOriginalBackSide()"></span>
                    </div>
                </div>
                <div id="ReviewMode_BackSideRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedNewBackSide()"></span>
                    </div>
                </div>
            </div>
            <div id="ReviewMode_AdditionalInfoRow" class="memcheck-input-div-container" v-if="additionalInfoIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["AdditionalInfo"]</p>
                </div>
                <div id="ReviewMode_AdditionalInfoRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedOriginalAdditionalInfo()"></span>
                    </div>
                </div>
                <div id="ReviewMode_ReviewMode_AdditionalInfoRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedNewAdditionalInfo()"></span>
                    </div>
                </div>
            </div>
            <div id="ReviewMode_ReferencesRow" class="memcheck-input-div-container" v-if="referencesIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["References"]</p>
                </div>
                <div id="ReviewMode_ReferencesRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedOriginalReferences()"></span>
                    </div>
                </div>
                <div id="ReviewMode_ReferencesRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div class="markdown-render markdown-body">
                        <span v-html="renderedNewReferences()"></span>
                    </div>
                </div>
            </div>
            <div id="ReviewMode_LanguageRow" class="memcheck-input-div-container" v-if="languageIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["Language"]</p>
                </div>
                <div id="ReviewMode_LanguageRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div>
                        <input class="authoring-textarea responsive-padding-edit" value="originalLanguageName()" rows="1" disabled />
                    </div>
                </div>
                <div id="ReviewMode_LanguageRow" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div>
                        <input class="authoring-textarea responsive-padding-edit" value="newLanguageName()" rows="1" disabled />
                    </div>
                </div>
            </div>
            <div id="ReviewMode_TagsRow" class="memcheck-input-div-container" v-if="tagsIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["Tags"]</p>
                </div>
                <div id="ReviewMode_TagsRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div>
                        <tag-button v-for="tag in originalCard.tags" v-bind:name="tag.tagName"></tag-button>
                    </div>
                </div>
                <div id="ReviewMode_TagsRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div>
                        <tag-button v-for="tag in card.tags" v-bind:name="tag.tagName"></tag-button>
                    </div>
                </div>
            </div>
            <div id="ReviewMode_VisibilityRow" class="memcheck-input-div-container" v-if="usersWithViewIsDirty()">
                <div class="learning-card-header">
                    <p>@Localizer["Users"]</p>
                </div>
                <div id="ReviewMode_VisibilityRow_Original" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["OriginalVersion"]</p>
                    </div>
                    <div>
                        <div id="ReviewMode_OriginalVisibilityRow_Public" v-if="originalCard.usersWithView.length == 0">
                            <tag-button additionalbuttonclass="warning" name='@Localizer["PublicForReview"]'></tag-button>
                        </div>
                        <div id="ReviewMode_OriginalVisibilityRow_Restricted" v-if="originalCard.usersWithView.length >= 1">
                            <span v-for="user in originalCard.usersWithView">
                                <tag-button v-if="user.userId == currentUser.userId" v-bind:name="user.userName"></tag-button>
                                <tag-button v-if="user.userId !== currentUser.userId" v-bind:name="user.userName"></tag-button>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="ReviewMode_VisibilityRow_New" class="memcheck-input-div">
                    <div class="learning-card-header">
                        <p>@Localizer["NewVersion"]</p>
                    </div>
                    <div>
                        <div id="ReviewMode_NewVisibilityRow_Public" v-if="card.usersWithView.length == 0">
                            <tag-button additionalbuttonclass="warning" name='@Localizer["PublicForReview"]'></tag-button>
                        </div>
                        <div id="ReviewMode_NewVisibilityRow_Restricted" v-if="card.usersWithView.length >= 1">
                            <span v-for="user in card.usersWithView">
                                <tag-button v-if="user.userId == currentUser.userId" v-bind:name="user.userName"></tag-button>
                                <tag-button v-if="user.userId !== currentUser.userId" v-bind:name="user.userName"></tag-button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="VersionDescriptionInputRow" class="memcheck-input-div">
                <p class="authoring-row-caption">@Localizer["VersionDescription"]</p>
                <input class="authoring-textarea responsive-padding-edit" v-model="card.versionDescription" rows="1" />
            </div>
            <div id="ReviewMode_BottomButtons">
                <ul class="nav small">
                    <li v-if="changesDescriptionOk()"><button id="ConfirmChangesEnabledButton" class="btn-success btn-lg authoring-send-button" @@click="saveCard">@Localizer["ConfirmUpdate"]</button></li>
                    <li v-else"><button id="ConfirmChangesDisabledButton" class="btn-success.disabled btn-lg authoring-send-button" disabled>@Localizer["ConfirmUpdate"]</button></li>
                    <li class="ms-auto"><button id="ContinueEditingButton" class="btn-success btn-lg authoring-send-button" @@click="continueEditing">@Localizer["ContinueEditing"]</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="DebugInfo" class="debug-info-div collapse" v-if="showDebugInfo()">
        <ul>
            <li v-for="errorDebugInfoLine in errorDebugInfoLines">{{errorDebugInfoLine}}</li>
        </ul>
    </div>
</div>
