@page
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web
@inject IViewLocalizer Localizer
@model AuthoringViewModel
@section head {
    <link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/markdownedit.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/markdownrendering.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/css/tageditpage.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
    @section scripts {
    <script src="~/js/MarkdownEditor.js" asp-append-version="true"></script>
    <script>
        var localized = {};
        @foreach (var localizerEntry in Localizer.GetAllStrings())
        {
            @:localized.@localizerEntry.Name = "@Html.Raw(@HttpUtility.JavaScriptStringEncode(@localizerEntry.Value))";
        }
    </script>
    <script type="module" src="~/js/Tags/Authoring.js" asp-append-version="true"></script>
}
    @{
    ViewData["Title"] = @Localizer["PageTitle"];
}
<input type="text" asp-for="TagId" id="TagIdInput" hidden="hidden" />
<input type="text" asp-for="ReturnAddress" id="ReturnAddressInput" hidden="hidden" />

<div id="TagAuthoringDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="After mount" v-else>
        <h1 class="title"><span v-if="editedTag">@Localizer["TagEdition"]</span><span v-else>@Localizer["TagCreation"]</span></h1>

        <div id="CurrentVersion" class="memcheck-input-div" v-if="editedTag">
            <h2>@Localizer["CurrentVersion"]</h2>
            <div id="Name" class="field-div">
                <label class="field-caption">@Localizer["Name"]</label> {{editedTag.tagName}}
            </div>
            <div id="Description" class="field-div">
                <label class="field-caption">@Localizer["Description"]</label>
                <span class="rendered-description" v-html="renderedDescription()"></span>
            </div>
        </div>

        <div id="Statistics" class="memcheck-input-div" v-if="editedTag">
            <label class="field-caption">@Localizer["CardsWithThisTag"] {{editedTag.cardCount}}</label>
        </div>

        <div id="NewVersion" class="memcheck-input-div">
            <h2 v-if="editedTag">@Localizer["NewVersion"]</h2>
            <div id="Name" class="field-div">
                <label class="field-caption"><span v-if="editedTag">@Localizer["NewName"]</span><span v-else>@Localizer["Name"]</span></label>
                <input class="form-control responsive-padding-edit" v-model="newName" />
            </div>
            <div id="Description" class="field-div">
                <markdown-editor v-model="newDescription" v-bind:isinfrench="true" title="@Localizer["NewDescription"]" />
            </div>
        </div>

        <p v-if="newNameProblem" class="alert alert-danger">{{newNameProblem}}</p>
        <button class="btn btn-success" disabled v-if="newNameProblem">@Localizer["Save"]</button>
        <button class="btn btn-success" @@click="save" v-else>@Localizer["Save"]</button>
    </div>
</div>
