@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section head {
<link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="@Url.Content("~/css/rating.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="@Url.Content("~/css/taglistpage.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="@Url.Content("~/css/markdownrendering.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@section scripts {
<script src="~/js/CardRating.js" asp-append-version="true"></script>
<script type="module" src="~/js/Tags/Tags.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id="TagsMainDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="After mount" v-else>
        <div id="Inputs" class="container">
            <h1 class="title">@Localizer["PageTitle"]</h1>
        </div>
        <div id="Inputs" class="inputs-div" style="border: 1px solid black;padding:5px">
            <details>
                <summary>@Localizer["Filter"]</summary>
                <input class="form-control responsive-padding-edit" v-model="request.filter" rows="1" v-on:keyup.enter="getTags()" />
                <span id="Page size">
                    <label>@Localizer["PageSize"]</label>&nbsp;
                    <select v-model="request.pageSize" class="responsive-padding-edit">
                        <option v-for="offeredPageSize in offeredPageSizes" v-bind:value="offeredPageSize">{{offeredPageSize}}</option>
                    </select><br />
                </span>
                <button class="toolbar-button" @@click="getTags">@Localizer["Run"]</button>
                <span v-if="totalTagCount != -1">
                    {{totalTagCount}}&nbsp;<label>@Localizer["PageTitle"]</label>
                </span>
            </details>
        </div>
        <div id="List" class="table-div">
            <table class="tag-list-table">
                <tr class="tag-list-header-row">
                    <td>
                        <table class="tag-list-in-row-table">
                            <tr class="tag-list-in-row-row">
                                <td class="tag-list-column-header-name">@Localizer["Name"]</td>
                                <td class="tag-list-column-header-edit">
                                    <span v-if="userLoggedIn">@Localizer["Edit"]</span>
                                    <span v-else>@Localizer["Demo"]</span>
                                </td>
                                <td class="tag-list-column-header-count">@Localizer["CardCount"]</td>
                                <td class="tag-list-column-header-rating">@Localizer["Rating"]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="tag-list-table-row" v-for="tag in tags">
                    <td>
                        <table class="tag-list-in-row-table">
                            <tr class="tag-list-in-row-row">
                                <td class="tag-list-column-data-name">
                                    <span v-if="tagIsUnfoldable(tag)">
                                        <span v-if="tagIsFolded(tag)"><button class="fold-button" @@click="unfold(tag)"><i class="fas fa-caret-right"></i></button></span>
                                        <span v-else><button class="fold-button" @@click="fold(tag)"><i class="fas fa-caret-down"></i></button></span>
                                    </span> {{tag.tagName}}
                                </td>
                                <td class="tag-list-column-data-edit">
                                    <button class="toolbar-button-circle toolbar-button" @@click="edit(tag.tagId)" v-if="userLoggedIn"><i class="fas fa-pen"></i></button>
                                    <button class="toolbar-button-circle toolbar-button" @@click="demo(tag.tagId)" v-else><i class="far fa-eye"></i></button>
                                </td>
                                <td class="tag-list-column-data-count"><button class="toolbar-button data-count-button" @@click="showCardsWithTag(tag.tagId)">{{tag.cardCount}}</button></td>
                                <td class="tag-list-column-data-rating">
                                    <card-rating class="rating-component" micro readonly v-bind:average="tag.averageRating"
                                                 yourratingstr='@Localizer["YourRating"]' averagestr='@Localizer["Average"]' usersstr='@Localizer["Users"]' userstr='@Localizer["User"]' />
                                </td>
                            </tr>
                        </table>
                        <div class="markdown-render markdown-body" v-if="!tagIsFolded(tag)">
                            <span v-html="tagMarkdownDescription(tag)"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Paging" class="container" style="align-content:flex-end">
            <button class="toolbar-button" @@click="moveToFirstPage()">1 <i class="fas fa-fast-backward"></i></button>
            <button class="toolbar-button" @@click="movePage(-10)" v-if="canMovePage(-10)">{{request.pageNo - 10}}</button>
            <button class="toolbar-button" @@click="movePage(-5)" v-if="canMovePage(-5)">{{request.pageNo - 5}}</button>
            <button class="toolbar-button" @@click="movePage(-2)" v-if="canMovePage(-2)">{{request.pageNo - 2}}</button>
            <button class="toolbar-button" @@click="movePage(-1)" v-if="canMovePage(-1)">{{request.pageNo - 1}}</button>
            <button class="toolbar-button" disabled>{{request.pageNo}}</button>
            <button class="toolbar-button" @@click="movePage(+1)" v-if="canMovePage(+1)">{{request.pageNo + 1}}</button>
            <button class="toolbar-button" @@click="movePage(+2)" v-if="canMovePage(+2)">{{request.pageNo + 2}}</button>
            <button class="toolbar-button" @@click="movePage(+5)" v-if="canMovePage(+5)">{{request.pageNo + 5}}</button>
            <button class="toolbar-button" @@click="movePage(+10)" v-if="canMovePage(+10)">{{request.pageNo + 10}}</button>
            <button class="toolbar-button" @@click="moveToLastPage()"><i class="fas fa-fast-forward"></i> {{pageCount}}</button>
        </div>
        <div id="DebugInfo" class="debug-info-div collapse">
            <ul>
                <li>Load time: {{loadTime}} ms</li>
            </ul>
        </div>
    </div>
</div>
