@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section head {
    <link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="~/js/big-size-image.js" asp-append-version="true"></script>
    <script type="module" src="~/js/Media/ImageList.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id="MediaMainDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Waiting for load" v-if="mountFinished && loading">
        <p class="wait-message">@Localizer["PleaseWaitForQuery"]</p>
    </div>
    <div id="After mount and not loading" v-if="mountFinished && !loading">
        <div id="FullImage" v-if="currentFullScreenImage">
            <big-size-image v-bind:image="currentFullScreenImage" v-bind:labels="bigSizeImageLabels" v-on:remove="deleteImage(currentFullScreenImage.imageId)" v-on:versionhistory="imageHistory(currentFullScreenImage.imageId)" v-on:edit="edit(currentFullScreenImage.imageId)" v-on:close="closeFullScreenImage()" />
        </div>
        <div id="NormalMode" v-else>
            <div id="Title" class="container">
                <h1 class="title">@Localizer["PageTitle"]</h1>
            </div>
            <div id="Inputs" class="container image-list-inputs-container" style="border: 1px solid black;padding:5px">
                <label>@Localizer["Filter"]</label><input class="form-control responsive-padding-edit" v-model="request.filter" v-on:keyup.enter="getImages()" />
                <span id="Page size">
                    <label>@Localizer["PageSize"]</label>&nbsp;
                    <select v-model="request.pageSize" class="responsive-padding-edit">
                        <option v-for="offeredPageSize in offeredPageSizes" v-bind:value="offeredPageSize">{{offeredPageSize}}</option>
                    </select><br />
                </span>
                <button type="button" class="btn btn-success toolbar-button" @@click="getImages">@Localizer["Run"]</button>
                <span v-if="totalCount != -1">
                    {{totalCount}}&nbsp;<label>@Localizer["Images"]</label>
                </span>
            </div>
            <div id="ListAsTable" class="container" v-if="TableFormat">
                <table class="table table-responsive" width="100%">
                    <tr>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["CardCount"]</th>
                        <th>@Localizer["Thumbnail"]</th>
                    </tr>
                    <tr v-for="image in images">
                        <td>{{image.imageName}} <button type="button" class="btn btn-primary toolbar-button-circle toolbar-button" @@click="edit(image.imageId)"><i class="fas fa-pen"></i></button></td>
                        <td><button type="button" class="btn btn-info toolbar-button" @@click="showCardsWithImage(image.imageId)">{{image.cardCount}}</button></td>
                        <td><a href="#" @@click="showImageFull(image)"><img class="thumbnail-image" :src="image.thumbnail" /></a></td>
                    </tr>
                </table>
            </div>
            <div id="ListAsCards" class="image-list-card-columns" v-if="!TableFormat">
                <div id="ListAsCardsEntry" class="card image-list-card" v-for="image in images">
                    <div id="CardHeader" class="card-header image-list-card-header">
                        {{image.imageName}}
                        <button type="button" class="btn btn-primary toolbar-button-circle toolbar-button" @@click="copyToClipboard(image.imageName)"><i class="far fa-copy"></i></button>
                        <button type="button" class="btn btn-primary toolbar-button-circle toolbar-button" @@click="edit(image.imageId)"><i class="fas fa-pen"></i></button>
                        <button type="button" class="btn btn-primary toolbar-button-circle toolbar-button" @@click="deleteImage(image.imageId)"><i class="far fa-trash-alt"></i></button>
                    </div>
                    <div id="CardBody" class="card-body image-list-card-body">
                        <a href="#" @@click="showImageFull(image)"><img class="thumbnail-image" :src="image.thumbnail" /></a>
                    </div>
                    <div id="CardFooter" class="card-footer image-list-card-footer">
                        <button type="button" class="btn btn-info toolbar-button" @@click="showCardsWithImage(image.imageId)">{{image.cardCount}} <span v-if="image.cardCount > 1">@Localizer["Cards"]</span><span v-else>@Localizer["Card"]</span></button>
                    </div>
                </div>
            </div>
            <div id="Paging" class="container" style="align-content:flex-end">
                <button class="btn btn-info toolbar-button" @@click="moveToFirstPage()">1 <i class="fas fa-fast-backward"></i></button>
                <button class="btn btn-info toolbar-button" @@click="movePage(-10)" v-if="canMovePage(-10)">{{request.pageNo - 10}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(-5)" v-if="canMovePage(-5)">{{request.pageNo - 5}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(-2)" v-if="canMovePage(-2)">{{request.pageNo - 2}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(-1)" v-if="canMovePage(-1)">{{request.pageNo - 1}}</button>
                <button class="btn btn-success toolbar-button" disabled>{{request.pageNo}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(+1)" v-if="canMovePage(+1)">{{request.pageNo + 1}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(+2)" v-if="canMovePage(+2)">{{request.pageNo + 2}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(+5)" v-if="canMovePage(+5)">{{request.pageNo + 5}}</button>
                <button class="btn btn-info toolbar-button" @@click="movePage(+10)" v-if="canMovePage(+10)">{{request.pageNo + 10}}</button>
                <button class="btn btn-info toolbar-button" @@click="moveToLastPage()"><i class="fas fa-fast-forward"></i> {{pageCount}}</button>
            </div>
        </div>
    </div>
</div>
