@page
@using Microsoft.AspNetCore.Mvc.Localization
@model UploadModel
@inject IViewLocalizer Localizer
@section head {
<link href="@Url.Content("~/css/markdownedit.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="@Url.Content("~/css/markdownrendering.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="@Url.Content("~/css/imageincard.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@section scripts {
<script src="~/lib/vant/vant.js" asp-append-version="true"></script>
<script src="~/js/MarkdownEditor.js" asp-append-version="true"></script>
<script type="module" src="~/js/Media/Upload.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<input type="text" asp-for="ImageId" id="ImageIdInput" hidden="hidden" />
<input type="text" asp-for="ReturnUrl" id="ReturnUrlInput" hidden="hidden" />

<div id="UploadMainDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Waiting for upload" v-if="mountFinished && uploading">
        <p class="wait-message">@Localizer["PleaseWaitWhileUploading"]</p>
    </div>
    <div id="After mount" v-if="mountFinished && !uploading">
        <div id="Title">
            <h1 class="title"><span v-if="editingImageId">@Localizer["EditMedia"]</span><span v-else>@Localizer["AddMedia"]</span></h1>
        </div>
        <div class="memcheck-input-div">
            <label>@Localizer["Name"]</label>
            <input class="form-control responsive-padding-edit" v-model="name" />
        </div>
        <div class="memcheck-input-div">
            <label>@Localizer["Description"]</label>
            <markdown-editor v-model="description" isinfrench title="" />
        </div>
        <div class="memcheck-input-div">
            <label>@Localizer["Source"]</label>
            <input class="form-control" v-model="source" />
        </div>
        <div class="memcheck-input-div" v-if="editingImageId">
            <label>@Localizer["VersionDescription"]</label>
            <input class="form-control" v-model="versionDescription" />
        </div>
        <div class="memcheck-input-div" v-if="!editingImageId">
            <label>@Localizer["FilePath"]</label>
            <br/>
            <input type="file" @@change="onFileSelected" style="display:none" ref="fileInput" />
            <br/>
            <span v-if="selectedFile">{{selectedFile.name}}</span>
            <br/>
            <button @@click="$refs.fileInput.click()" style="padding-left:10px">@Localizer["SelectFile"]</button>
        </div>
        <div class="memcheck-input-div" v-if="imagePreview">
            <label>@Localizer["Preview"]</label>
            <img class="imageincard" :src="imagePreview" />
        </div>
    </div>
    <div class="memcheck-bottom-button-div">
        <button id="UploadButton" class="btn btn-success btn-lg" @@click="upload">@Localizer["Upload"]</button>
    </div>
</div>
