@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section scripts {
<script type="module" src="~/js/Decks/Create.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/deck";
}

<div id="CreateDeck" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="After mount" v-else>
        <h1 class="title"><i class="fas fa-plus"></i>&nbsp;@Localizer["MainCaption"]</h1>
        <div id="Description" class="memcheck-input-div">
            <label>@Localizer["Description"]</label>
            <input type="text" class="form-control responsive-padding-edit" v-model="description">
            <small class="form-text text-muted">@Localizer["DescriptionAdditionalInfo"]</small>
        </div>
        <div id="HeapingAlgo" class="memcheck-input-div">
            <label>@Localizer["HeapingAlgo"]</label>
            <select class="form-control form-select responsive-padding-edit" v-model="heapingAlgorithm">
                <option v-for="ha in heapingAlgorithms" v-bind:value="ha">
                    {{ha.nameInCurrentLanguage}}
                </option>
            </select>
            <small class="form-text text-muted">{{heapingAlgorithm.descriptionInCurrentLanguage}}</small>
        </div>
        <div id="AdviceForSingleDeck" class="memcheck-input-div" v-if="userHasDecks()">
            <strong><small class="form-text text-muted">
                @Localizer["YouAlreadyHave"]
                {{userDeckNames.length}}
                <span v-if="userDeckNames.length == 1">@Localizer["Deck"]</span>
                <span v-if="userDeckNames.length > 1">@Localizer["Decks"]</span>
                (<span v-for="(userDeckName, index) in userDeckNames">"{{userDeckName}}"<span v-if="index != userDeckNames.length - 1">, </span></span>).
                @Localizer["AdviceForSingleDeck"]
                </small>
            </strong>
        </div>
        <button type="submit" class="btn btn-primary btn-success" @@click="create">@Localizer["Save"]</button>
    </div>
</div>
