@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SettingsModel
@section head {
    <link href="@Url.Content("~/css/toolbarbutton.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["HelpPage"] = "/deck";
}
<input type="text" asp-for="DeckId" id="DeckIdInput" hidden="hidden" />

<div id="HeapViewMainDiv" class="page-responsive-padding" v-cloak>
    <div id="WaitingForData" v-if="!mountFinished" class="wait-div">
        <i class="mnesios-logo-big"></i>
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="After mount" v-else>
        <h1 class="title"><i class="fas fa-inbox"></i>&nbsp;@Localizer["MainCaption"]</h1>

        <div id="First table deck choice and global info" class="table-responsive">
            <table class="table table-responsive" width="100%">
                <tbody>
                    <tr id="Deck choice" v-if="!singleDeckDisplay">
                        <th>@Localizer["Deck"]</th>
                        <td>
                            <select v-model="activeDeck"><option v-for="deck in userDecks" v-bind:value="deck">{{deck.description}}</option></select>
                            <button class="toolbar-button-circle toolbar-button" data-bs-toggle="tooltip" data-placement="top" title=@Localizer["DeckSettings"] v-on:click="openSettingsPage()"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr id="Deck name" v-if="singleDeckDisplay">
                        <th>@Localizer["Deck"]</th>
                        <td class="deck-index-deckname-td">
                            <span class="deck-index-deckname-span">
                                <textarea class="form-control deck-index-deckname-textarea responsive-padding-edit" v-model="activeDeck.description" readonly="readonly" rows="1"></textarea>
                                <van-button class="toolbar-button-circle toolbar-button deck-index-deckname-button" title=@Localizer["DeckSettings"] v-on:click="openSettingsPage()"><i class="fas fa-pen"></i></van-button>
                            </span>
                        </td>
                    </tr>
                    <tr id="HeapingAlgorithm" v-if="activeDeck">
                        <th>@Localizer["HeapingAlgorithm"]</th>
                        <td>
                            <textarea class="form-control responsive-padding-edit" v-model="activeDeck.heapingAlgorithmName" readonly="readonly" rows="1"></textarea><br />
                            <small class="form-text text-muted">{{activeDeck.heapingAlgorithmDescription}}</small>
                        </td>
                    </tr>
                    <tr id="CardCount" v-if="activeDeck">
                        <th>@Localizer["TotalCardCount"]</th>
                        <td><textarea class="form-control responsive-padding-edit" v-model="activeDeck.cardCount" readonly="readonly" rows="1"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="Heaps" class="table-responsive" v-if="activeDeck">
            <table class="table-responsive deck-table">
                <tbody>
                    <tr id="Headers for column size">
                        <th class="deck-table-cell">@Localizer["Heap"]</th>
                        <th class="deck-table-cell">@Localizer["TotalCardCount"]</th>
                        <th class="deck-table-cell">@Localizer["ExpiredCardCount"]</th>
                        <th class="deck-table-cell">@Localizer["NextExpiry"]</th>
                    </tr>
                    <tr id="Row for a heap" v-for="heap in activeDeck.heaps">
                        <td class="deck-table-cell"><a v-bind:href="'/Search/Index?DeckId='+activeDeck.deckId+'&HeapId='+heap.id">{{heap.name}}</a></td>
                        <td class="deck-table-cell">{{heap.totalCardCount}}</td>
                        <td class="deck-table-cell" v-if="heap.id!=0">{{heap.expiredCardCount}}</td>
                        <td class="deck-table-cell" v-else></td>
                        <td class="deck-table-cell" v-if="heap.id!=0">{{dt(heap.nextExpiryUtcDate)}}</td>
                        <td class="deck-table-cell" v-else></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="module" src="~/js/Decks/HeapView.js" asp-append-version="true"></script>
}
