@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EditSearchSubscriptionModel
@section scripts {
    <script type="module" src="~/js/Account/EditSearchSubscriptions.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}
<input type="text" asp-for="Id" id="SubscriptionIdInput" hidden="hidden" />
<input type="text" asp-for="ReturnUrl" id="ReturnUrlInput" hidden="hidden" />

<div id="EditSearchSubscriptionDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="After mount" v-else>
        <h3 class="title">@Localizer["PageTitle"]</h3>

        <div id="SubscriptionNotOk" v-if="!subscription">
            <p class="wait-message">@Localizer["SubscriptionNotFound"]</p>
        </div>
        <div id="SubscriptionOk" v-else>
            <div id="Table">
                <table class="table table-sm table-authoring" width="100%">
                    <tbody>
                        <tr id="Hidden row to specify width of first column" style="visibility:hidden">
                            <th style="width:20%"></th>
                            <th style="width:80%"></th>
                        </tr>
                        <tr>
                            <th><span class="small-screen-text">@Localizer["CurrentName_SmallScreen"]</span><span class="medium-screen-text">@Localizer["CurrentName_MediumScreen"]</span><span class="big-screen-text">@Localizer["CurrentName_BigScreen"]</span></th>
                            <td>{{subscription.name}}</td>
                        </tr>
                        <tr>
                            <th>@Localizer["Details"]</th>
                            <td>{{subscription.details}}</td>
                        </tr>
                        <tr>
                            <th><span class="small-screen-text">@Localizer["CardCountOnLastRun_SmallScreen"]</span><span class="medium-screen-text">@Localizer["CardCountOnLastRun_MediumScreen"]</span><span class="big-screen-text">@Localizer["CardCountOnLastRun_BigScreen"]</span></th>
                            <td>{{subscription.cardCountOnLastRun}}</td>
                        </tr>
                        <tr>
                            <th><span class="small-screen-text">@Localizer["SubscriptionDate_SmallScreen"]</span><span class="medium-screen-text">@Localizer["SubscriptionDate_MediumScreen"]</span><span class="big-screen-text">@Localizer["SubscriptionDate_BigScreen"]</span></th>
                            <td>{{dateTime(subscription.registrationUtcDate)}}</td>
                        </tr>
                        <tr>
                            <th><span class="small-screen-text">@Localizer["LastRunDate_SmallScreen"]</span><span class="medium-screen-text">@Localizer["LastRunDate_MediumScreen"]</span><span class="big-screen-text">@Localizer["LastRunDate_BigScreen"]</span></th>
                            <td>{{dateTime(subscription.lastRunUtcDate)}}</td>
                        </tr>
                        <tr>
                            <th>@Localizer["NewName"]</th>
                            <td><input class="form-control responsive-padding-edit" v-model="newName" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-success btn-md" @@click="save">@Localizer["Save"]</button>
        </div>
    </div>
</div>
